/*Reset css*/
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*-Css for header-*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    width: 100vw;

    border: 1px solid black;

    background-color: #001c30;
}

header>div {
    display: flex;
    align-items: center;
    height: 100%;
}

img {
    height: 100%;
}

h1 {
    margin-left: 1 rem;
    color: #dafffb;
    font-weight:bold;
    font-size: large;
    font-family: Helvetica;
}

nav>a {
    margin-right: 1rem;
    font-size: 1rem;
    color: #dafffb;
}

/* end of header*/

/* Start of main */

main {
    min-height: 80vw;
    min-width: 70vw;
    background-color: #176b87;
}

aside {
    min-height: 80vw;
    min-width: 15vw;
    background-color: #64ccc5;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body>div {
    display: flex;
}

/* End of main*/

/* Footer */

footer {
    width: 100vw;
    height: 10vw;
    background-color: #001c30;
}

/* Text on home.html */
.hometext {
    display: block;
    font-size: 1.5em;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    font-weight: bold;
}

p {
    display: block;
    padding: .5em;
}